.root {
  padding-top: 100px;
  padding-bottom: 240px;
}

  .root .row {
    margin-bottom: 85px;
  }
  .root .row:last-of-type {
    margin-bottom: 0px;
  }
  .root .row > :first-child {
    margin-right: 60px;
  }

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) { 
  .root .widget {
    margin-left: auto;
    margin-right: auto;

    width: 310px;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px) {
  .root .widget {
    width: 470px;
  }
 }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px) { }

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px) { }

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { }

/* hi-res laptops and desktops */ 
@media (min-width:1281px) { }
