.root {
  padding-top: 100px;
  padding-bottom: 240px;
}

  .root .row {
    margin-bottom: 85px;
  }
  .root .row:last-of-type {
    margin-bottom: 0px;
  }
  .root .row > :first-child {
    margin-right: 60px;
  }
