.perfectRaceHeaderImg {
  margin-bottom: 60px;
  width: 75%;
  max-width: 624px;
}

.bannerBikeImg {
  width: 100%;
  max-width: 1034px;
}

.bannerSection {
  padding: 200px 0px;
}

.bannerSection .link {
  color: black;
}
