.root {
  padding-top: 106px;

}

.teamMember {
  letter-spacing: 0.5px;
  padding: 12px;
  min-width: 180px;

  height: 220px;
  color: #ebebeb;
  font-weight: bold;

  margin-right: 12px;
  margin-bottom: 12px;

  font-size: 14px;
}

  .teamMember .name {
    margin-top: 12px;
  }

  .teamMember .titleText {
    color: #ababab;
    font-size: 10px;
    margin-top: 4px;
  }

  .teamMember .profilePicture {
    border-radius: 100%;
  }


  .teamMember .link {
    text-decoration: underline;
    color: #ababab;
    font-size: 12px;
  }