.perfectRaceHeaderImg {
  margin-bottom: 60px;
  width: 75%;
  max-width: 624px;
}

.bannerBikeImg {
  width: 100%;
  max-width: 1034px;
}

.bannerSection {
  padding: 200px 0px;
}

.whoIsDaveHaaseSection {
  padding-bottom: 181px;
}

.whereIsDaveSection {
  padding-top: 100px;
  padding-bottom: 150px;
}

.analyzeDataSection {
  padding-top: 500px;
  padding-bottom: 100px;
}

.perfectRaceSection {
  padding-bottom: 250px;
}

.daveSkinAndCoreTemperatureGraph {
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 50%;
  width: 75%;
  transform: translateX(-50%) translateY(50%);
}

.howWasThisAccomplishedSection {
  padding-top: 106px;
}

.qlikAppImg {

}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
  .qlikAppImg {
    min-width: 300px;
    max-width: 100%;
  }
 }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px) { }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px) { }

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px) { }

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { }

/* hi-res laptops and desktops */ 
@media (min-width:1281px) { }
